@model Formulario_SuministroCredito.Models.SuministroCredito

@{
    ViewData["Title"] = "GetDatail";
}

<h1>GetDatail</h1>

<div class="container-fluid">

    <h4>Suministro Credito</h4>
    <hr />
    <div class="row">
      
        <div class="row">
            <div class="col-md-2 disabled">
                @Html.DisplayNameFor(model => model.IdSuministro_Credito)
            </div>

            <div class="col-md-10">
                @Html.DisplayFor(model => model.IdSuministro_Credito)
            </div>

        </div>

        <div class ="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_registro)
        </div>
        <div class ="col-sm-10">
            @Html.DisplayFor(model => model.Fecha_registro)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo_solicitud)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo_solicitud)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Monto)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Monto)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plazo)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Plazo)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellidos_nombres_razon_social)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellidos_nombres_razon_social)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo_persona)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo_persona)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo_identificacion)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo_identificacion)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero_identificacion)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero_identificacion)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DV)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.DV)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Representante_legal)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Representante_legal)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cargo)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Cargo)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Correo_electronico)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Correo_electronico)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion_correspondencia)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion_correspondencia)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ciudad)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Ciudad)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Departamento)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Departamento)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Celular)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Celular)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Correo_electronico_facturacion)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Correo_electronico_facturacion)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Entidad_razon_social_ref_comerciales)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Entidad_razon_social_ref_comerciales)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion_ref_comerciales)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion_ref_comerciales)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom_contacto_ref_comerciales)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom_contacto_ref_comerciales)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cargo_ref_comerciales)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Cargo_ref_comerciales)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono_ref_comerciales)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono_ref_comerciales)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Entidad_razon_social_ref_comerciales_dos)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Entidad_razon_social_ref_comerciales_dos)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion_ref_comerciales_dos)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion_ref_comerciales_dos)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom_contacto_ref_comerciales_dos)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom_contacto_ref_comerciales_dos)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cargo_ref_comerciales_dos)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Cargo_ref_comerciales_dos)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono_ref_comerciales_dos)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono_ref_comerciales_dos)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Entidad_financiera)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Entidad_financiera)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo_cuenta)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo_cuenta)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero_cuenta)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero_cuenta)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Oficina)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Oficina)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre_contacto_tesoreria)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre_contacto_tesoreria)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cargo_contacto_tesoreria)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Cargo_contacto_tesoreria)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono_contacto_tesoreria)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono_contacto_tesoreria)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Celular_contacto_tesoreria)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Celular_contacto_tesoreria)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Correo_electronico_contacto_tesoreria)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Correo_electronico_contacto_tesoreria)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre_contacto_contabilidad)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre_contacto_contabilidad)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cargo_contacto_contabilidad)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Cargo_contacto_contabilidad)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono_contacto_contabilidad)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono_contacto_contabilidad)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Celular_contacto_contabilidad)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Celular_contacto_contabilidad)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Correo_electronico_contacto_contabilidad)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Correo_electronico_contacto_contabilidad)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre_contacto_compras)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre_contacto_compras)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cargo_contacto_compras)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Cargo_contacto_compras)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono_contacto_compras)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono_contacto_compras)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Celular_contacto_compras)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Celular_contacto_compras)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Correo_electronico_contacto_compras)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Correo_electronico_contacto_compras)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ruta_rut)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Ruta_rut)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ruta_estado_financiero)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Ruta_estado_financiero)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ruta_existencia)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Ruta_existencia)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ruta_cert_ingresos)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Ruta_cert_ingresos)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ruta_tarjeta_profesional)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Ruta_tarjeta_profesional)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ruta_cert_antecedentes)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Ruta_cert_antecedentes)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre_apellido_firma)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre_apellido_firma)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nro_cedula_firma)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Nro_cedula_firma)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Representa_legal_firma)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Representa_legal_firma)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Centro_distribucion)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Centro_distribucion)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cupo_sugerido)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Cupo_sugerido)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plazo_aliar)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Plazo_aliar)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom_asesor_comercial)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom_asesor_comercial)
        </div>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroContador)
        </div>
        <div class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroContador)
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
